<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bitcoin>
                <active>0</active>
                <model>Mbtc\Base\Model\BitcoinPaymentInterface</model>
                <order_status>pending</order_status>
                <title>Bitcoin</title>
                <allowspecific>0</allowspecific>
                <derivation_path>m/1/</derivation_path>
                <group>offline</group>
                <auto_invoice>0</auto_invoice>
                <num_confirmations>6</num_confirmations>
                <instructions>Payment address will be generated after the order is placed.</instructions>
            </bitcoin>
        </payment>
    </default>
</config>
